<html xmlns:th="https://thymeleaf.org">
<table>
  <tr>
    <td><h4>Full Name: </h4></td>
    <td><h4 th:text="${student.name}"></h4></td>
  </tr>
  <tr>
    <td><h4>Age: </h4></td>
    <td><h4 th:text="${student.age}"></h4></td>
  </tr>
  <tr>
    <td><h4>Phone: </h4></td>
    <td><h4 th:text="${student.phone}"></h4></td>
  </tr>
  <tr>
    <td><h4>Language: </h4></td>
    <td><h4 th:text="${student.language}"></h4></td>
  </tr>
  <tr>
    <td><h4>Duration: </h4></td>
    <td><h4 th:text="${student.duration}"></h4></td>
  </tr>
  <tr>
    <td><h4>Comment: </h4></td>
    <td><h4 th:text="${student.comment}"></h4></td>
  </tr>
</table>
</html>
